*{
  font-family: 'MinionPro', 'Montserrat', sans-serif;
  background-color: rgb(75, 91, 105);
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

p{
  font-family: 'Museo', 'PT Serif' serif;
  background: rgb(220, 227, 233);
  text-align: left;
  padding: 20px;
}
